name: Deploy to HuggingFace

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Push to HF
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "bot@huggingface.co"
          git config --global user.name "HF Bot"
          git push https://Sristi222:$HF_TOKEN@huggingface.co/spaces/Sristi222/bangla-pdf-assistant main --force

          